{% extends 'base.html' %}
{% load static %}
{% block title %}
Page3 - Add reply
{% endblock title %}

{% block content %}
{% load crispy_forms_tags %}

{% if parents_arr %}
{% for parent in parents_arr %}
{{ parent.author }}<br />
{{ parent.body|safe }}<br /><br />
{% endfor %}
{% endif %}

<br /><br /><br />


{% if user.is_authenticated %}
Logged in as: {{user}} | {{user.id}}
{% if user.id == post.author.id %}
<h1>{{ post.title }}</h1><a href="{% url 'edit-post' post.pk %}">Edit</a><br />
{% endif %}
{% endif %}


<small>{{ post.author.first_name }} {{ post.author.last_name }}
    {{ post.post_date}} | {{post.pk}}</small><br />
<hr>
{{post.body}}
<br />
{% if post.has_images %}

{% for image in image_list %}
{% if image.post.id == post.id %}
<img src="{{ image.image.url}}" width="500">
{% endif %}
{% endfor %}
{{ post.imagefiles}}
{% endif %}

{% if post.video %}
<video width="500" controls autoplay>
    <source src="{{post.video.url}}" type="video/mp4">
</video>

{% endif %}
<br />
{% if user.is_authenticated %}

<!-- <span id="like_count" type="hidden">{{ post.like_count}}</span> -->
<button id="like-button" class="like-button" name="{{ post.like_count }}" value="{{ post.pk }}">LIKED BY
    {{post.like_count}}</button>


{% endif %}

<!-- Modal start -->
<!-- <button id="open-reply-modal"> Click to open</button> -->

<div class="reply-modal-container" id="reply-modal-container">
    <div class="modal-div">
        <h1>reply to</h1>
        {% include 'post_replies_form.html' %}
        <button id="close-modal">CLose modal</button>
    </div>
</div>

<!-- Modal end -->




<button id="open-reply-modal" value="{{post.pk}}"> Click to open</button>
<!-- {% include 'post_replies_form.html' %} -->



<div id="replies-section">
    {% include 'replies_list.html' %}
</div>


<script>
    function updateText(btn, no_of_likes) {
        btn.text("LIKED BY" + " " + no_of_likes)
    }
    $(document).on('click', '#like-button', function (e) {
        e.preventDefault();

        var this_ = $(this)
        postid = this_.attr("value").valueOf()



        $.ajax({
            type: 'POST',
            url: '{% url "like" %}',
            data: {
                postid: postid,
                // postid: $('#like-button').val(),
                action: 'post',
            },
            success: function (json) {
                no_of_likes = json['result'];
                console.log(json)
                updateText(this_, no_of_likes)
            },
            error: function (xhr, errmsg, err) {

            }
        });
    })


</script>

<script>
    function updateText(btn, no_of_likes) {
        btn.text("LIKED BY" + " " + no_of_likes)
    }
    function myfunction() {

        let allLikes = document.getElementsByClassName('like-button');


        for (let i = 0; i < allLikes.length; i++) {
            let attributeValue = allLikes[i].getAttribute('value');
            console.log(typeof allLikes[i])
            console.log(attributeValue)

            $.ajax({
                type: 'POST',
                url: '{% url "set_likes" %}',
                data: {
                    postid: attributeValue,
                    // postid: $('#like-button').val(),
                    action: 'post',
                    // postid: '{{ post.pk }}',
                },
                success: function (json) {
                    no_of_likes = json['result'];
                    //console.log(json)
                    //updateText(allLikes[i], no_of_likes)
                    allLikes[i].innerHTML = "LIKED BY" + " " + no_of_likes
                    console.log("AJAX REQUEST")
                },
                error: function (response) {

                }
            });


        }
        console.log(allLikes)

    }

    const xhr = new XMLHttpRequest()
    const method = 'GET'
    const url = "/posts"
    const responseType = 'json'

    xhr.responseType = responseType
    xhr.open(method, url)
    xhr.onload = function () {
        var listedItems = xhr.response.response
        console.log(listedItems)
    }
</script>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script type="text/javascript">
    // form upload

    const modalContainer = document.getElementById("reply-modal-container");
    const close = document.getElementById("close-modal");


    $(document).on('click', '#open-reply-modal', function (e) {
        var this_ = $(this);
        postid = this_.attr("value").valueOf();
        console.log("POSTID: " + postid)
        modalContainer.classList.add('show');
    });




    close.addEventListener('click', () => {
        modalContainer.classList.remove('show');
    });


    $('#id_ajax_upload_form').submit(function (e) {
        e.preventDefault();
        $form = $(this)
        var formData = new FormData(this);

        //var this_ = $(this)
        //postid = this_.attr("value").valueOf()
        formData.append('postid', postid)
        $.ajax({
            url: window.location.pathname,
            type: 'POST',
            data: formData,

            success: function (response) {
                //alert("JKJJK")
                $("#replies-section").html(response['replies_list']);
                $("#id_title").val('');
                $("#id_body").val('');
                $("#id_image").val('');
                //console.log($("#id_image").val())
                //$("#id_category").val('');
                modalContainer.classList.remove('show');
            },
            cache: false,
            contentType: false,
            processData: false
        });
    });

    $('#id_ajax_upload_form2').submit(function (e) {
        e.preventDefault();
        $form = $(this)
        var formData = new FormData(this);
        //var this_ = $(this)
        //postid = this_.attr("value").valueOf()
        formData.append('postid', postid)
        $.ajax({
            url: window.location.pathname,
            type: 'POST',
            data: formData,
            success: function (response) {
                //alert("JKJJK")
                $("#replies-section").html(response['replies_list']);
                $("#id_title").val('');
                $("#id_body").val('');
                $("#id_video").val('');
                //console.log($("#id_image").val())
                //$("#id_category").val('');
                modalContainer.classList.remove('show');
            },
            cache: false,
            contentType: false,
            processData: false
        });
    });
    // end
</script>


<script>
    window.addEventListener("pageshow", hideVidForm);

    function hideVidForm() {
        document.getElementById("vid-form").style.display = 'none';
    }


    document.getElementById('toggle-media-type').addEventListener('click', function () {
        let elem = document.getElementById('toggle-media-type');
        form1 = document.getElementById("img-form")
        form2 = document.getElementById("vid-form")
        if (elem.innerHTML == "Add video") {
            elem.innerHTML = "Add images";

            form1.style.display = 'none';
            form2.style.display = 'block';
        }
        else {
            elem.innerHTML = "Add video";
            form1.style.display = 'block';
            form2.style.display = 'none';
        }

    })
</script>

<script src="{% static 'PostIT/js/replyModal.js' %}"></script>

{% endblock content %}